*{
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    margin: 0px;
}

.dark{
    background-color: #313131;
    color: white;
}

.light{
    background-color: white;
    color: #313131;
}

.red{
    background-color: crimson;
    color: black;
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.toolbar{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap:8px;
    border: 1px solid lime;
}

.text-div{
    flex: 1;
    border: 1px solid crimson;
}